#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-container {
  display: flex;
  width: 500px; /* Set a fixed width to ensure consistent alignment */
  justify-content: flex-start;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.metadatas-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.metadata {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}
